
.Camera {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.Camera[data-camera="small"] {
    /*border: 2px solid #FFFFFF;*/
    /*border-radius: var(--border-radius);*/
}

.App.hide-controls .Camera[data-camera="small"] {
    border: none !important;
}

.Camera video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    text-align: left;
}

.Camera video.cover {
    object-fit: cover;
}

.Camera > :not(video) {
    z-index: 1;
}


.Camera > .icon-button.swap-camera-button {
    position: absolute;
    right: 0;
    top: var(--inner-icon-button-size);
    color: #FFF;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

