.markup-camera-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    --webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}
.markup-camera {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.markup-camera > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.zoom-button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
}
.zoom-button span {
    color: #FFFFFF;
}

.zoom-slider {
    width: 10em;
}

.inline-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inline-input-field > span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.inline-input-field > span::after {
    content:":";
}
.inline-input-field button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: 1em;
    color: #FFFFFF;
    width: 1.5em;
    height: 1.5em;
    padding: 4px;
    margin-bottom: 1em;
    border-radius: 1.5em;
    box-sizing: content-box;
}

.inline-input-field button:active {
    background: #FFFFFF;
    color: #333333;
}

.markup-camera-toolbar {
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    padding: 1em;
}

.color-container {
    position: relative;
    overflow: hidden;
    border: 2px solid #FFF;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
}

.color-container input {
    width: 4em;
    height: 4em;
    position: absolute;
    top: -1em;
    left: -1em;
}

.markup-camera-toolbar:hover, .markup-camera-toolbar:focus-within {
    opacity: 1;
}


.markup-camera-container.toolbar-vert .inline-input-field > span {
    position: fixed;
    left: -10000%;
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;

}

.markup-camera-container.toolbar-vert .markup-camera-toolbar {
    position: fixed;
    right: 0;
    bottom:0;
    flex-direction: column;
    top:auto;
    left: auto;
    width: fit-content;
    height: fit-content;
}

.markup-camera-container.toolbar-vert .markup-camera-toolbar .stroke-width-control {
    display: none;
}

.markup-camera-container .markup-camera-toolbar .zoom-control button {
    color: #FFF;
}
.markup-camera-container .markup-camera-toolbar .zoom-control {
    display: none;
}