
.DeviceListModal {
    position: fixed;
    top:50%;
    right: 0;
    margin: 0;
    padding: 0;
    border-radius: 1.4em;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
}

.DeviceListModal ~ .modal-background {
    position: fixed;
    display: block;
    width: 150vw;
    height: 150vh;
    top: -50vh;
    left: -50vw;
    content: " ";
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:99;
}

.DeviceListModal .container form {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: block;
    background: #FFF;
    padding: 1em;
    position: relative;
    /*background: #FFFFFF;*/
    width: 100%;
    height: 100%;
    z-index: 101;
    box-shadow: 4px 4px 10px #000;
}

.DeviceListModal .container .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0.2em;
    -webkit-appearance: none;
    appearance: none;
    z-index: 102;
    background: #FFFFFF;
    border: 1px solid #333;
    box-shadow: 4px 4px 5px #000;

}

.DeviceListModal .container .close-button:hover {
    background: #BBBBBB;
    /*color: #FFFFFF;*/

}

.DeviceListModal .container .close-button:active {
    background: #333333;
    color: #FFFFFF;
}

.DeviceListModal .container table {
    border-collapse: collapse;
}

.DeviceListModal .container table tr {
    border-bottom: 1px solid #DDDDDD;
}
.DeviceListModal .container table tr > *{
    padding: 0.5em 0;
}
.DeviceListModal .container [data-for="device"],
.DeviceListModal .container [data-for="device"] input {
    text-align: left;
}


.DeviceListModal .footer-buttons {
    margin-top: 1em;
}

.DeviceListModal .container .footer-buttons input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: #0275ff;
    padding: 0.5em 1.5em;
    color: #FFF;
    border-radius: var(--border-radius);
}

.DeviceListModal .container .footer-buttons input[type="submit"]:hover {
    filter: brightness(0.8);
}
.DeviceListModal .container .footer-buttons input[type="submit"]:active {
    filter: brightness(1.2);
}

/*noinspection CssUnresolvedCustomProperty*/
.DeviceListModal .open-device-list-button {
    width: var(--device-list-icon-size, 4em);
    height: var(--device-list-icon-size, 4em);
    display: flex;
    margin: 0;
    padding:0;
    color: #FFFFFF;
    border-radius: 50%;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}


.DeviceListModal .device-list-icon.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

